<%= form_for(@photo_test) do |f| %>
  <% if @photo_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_test.errors.count, "error") %> prohibited this photo_test from being saved:</h2>

      <ul>
      <% @photo_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo_id %><br>
    <%= f.number_field :photo_id %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_area :caption %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
